<a href="/" class="link-back">Back</a>

<div class="grid-row">
    <div class="col-12">
        <h1 class="heading-xlarge">
            Invite test tester
        </h1>
    </div>
</div>
<div class="grid-row">
    <div class="col-12">

        <dl class="rows">
            <dt>Username</dt>
            <dd><%=user.username%></dd>

            <dt>First name</dt>
            <dd><%=user.firstName%></dd>

            <dt>Last name</dt>
            <dd><%=user.lastName%></dd>

            <dt>Email</dt>
            <dd><%=user.email%></dd>

            <dt>Org</dt>
            <dd><%= user.organisation.name ? user.organisation.name : '-' %></dd>

            <dt>Services</dt>
            <dd>
                <% if (user.services.length > 0) { %>
                <ul class="inline">
                <% for (let i = 0; i < user.services.length; i++) {%>
                    <li><%=user.services[i].name%> <span>(<%=user.services[i].role.name%>)</span></li>
                <% } %>
                </ul>
                <% } else { %>
                -
                <% } %>
            </dd>
        </dl>

        <form method="post" id="form-migrate-seasrch">
            <input type="hidden" name="_csrf" value="<%=csrfToken%>" />
            <div class="submit-buttons">

                <button type="submit" class="button">Invite</button>
                <a href="/" class="button-secondary">Cancel</a>

            </div>
        </form>

    </div>
</div>
